.clr {
  clear: both;
}
 
 
.p-seller {
 color: #c2c2c2;
 font-size: 14px;
 line-height: 24px;
} 






.h-1 {
font-weight:bold;
color:#fff;
font-size:45px;

  } 
.h-2 {
    color:#333 ;
    font-size:26px;
    margin-bottom:15px;
  } 
  
.h-4 {
  font-size:20px;
  color:#fff;
  font-weight: bold;
  }
.h-3 {

  font-size:24px; 
  }   

.text-red {
 color: #f62121;   
}

.sellersection {
background: #050a0f url(../images/img3.jpg) 0 0 no-repeat;
 background-size: cover; 
 min-height:600px;
display: flex;
align-items: center;  
  }

.sellersection h2 {

font-weight: 300;
color: #fff;
font-size: 30px;
}
.sellersection h5 {
 font-size: 18px;

 font-weight: 300; 
 line-height: 28px; 
 color: #fff
}

.partnershipsection {
 //background: #1e2935 url(../images/partner-bg.png) 0 0 no-repeat;
  background: #050a0f url(../images/movibg.png) 0 0 no-repeat;
 padding: 100px 0;
 background-size: cover;   
}

.wrightsection {
padding: 50px 0;
 
}
.wrightsection .btn-danger {
border-radius: 10px;
background: #f62121;
border: none;
min-width: 150px;
height: 48px;
font-size: 20px;

font-weight: 300;
text-transform: uppercase;
}
.wrightsection .form-control {
  border: none;
  background-color: #1e2935;
  min-height: 60px !important;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
}
.wrightsection .form-control::placeholder{
color: #ccc;
}


 
.media {
  align-items: center;
  background: rgba(17, 19, 38, 0.61);
  padding: 15px;
  border-radius: 6px;
  min-height: 200px;
} 
 