/*@font-face { font-family: mediumEmber; src: url('fontfamily/Amazon-Ember-Medium.ttf')} 

@font-face { font-family: mediumitaticEmber; src: url('fontfamily/Amazon-Ember-MediumItalic.ttf')} 
@font-face { font-family: boldEmber; src: url('fontfamily/AmazonEmber_Bd.ttf')} 
@font-face { font-family: bolditalicEmber; src: url('fontfamily/AmazonEmber_BdIt.ttf')} 
@font-face { font-family: lightEmber; src: url('fontfamily/AmazonEmber_Lt.ttf')} 
@font-face { font-family: regularEmber; src: url('fontfamily/AmazonEmber_Rg.ttf')} 
*/



@font-face {
    font-family: "AnekLatin-ExtraBold";
    src: url('../../fonts/AnekLatin-ExtraBold.ttf')
}

@font-face {
    font-family: "AnekLatin-Bold";
    src: url('../../fonts/AnekLatin-Bold.ttf')
}

@font-face {
    font-family: "AnekLatin-SemiBold";
    src: url('../../fonts/AnekLatin-SemiBold.ttf')
}

@font-face {
    font-family: "AnekLatin-Medium";
    src: url('../../fonts/AnekLatin-Medium.ttf')
}

@font-face {
    font-family: "AnekLatin-Regular";
    src: url('../../fonts/AnekLatin-Regular.ttf')
}

@font-face {
    font-family: "AnekLatin-Light";
    src: url('../../fonts/AnekLatin-Light.ttf')
}