@media(min-width:1200px) {
  section#main-content {
    flex-grow: 1;
  }

 
}

p {
  margin: 0;
}

.channelName h4 {
  font-family: 'AnekLatin-Medium';
  font-weight: 500;
}

.f-16s {
  font-size: 18px;
  color: var(--white);
}

.termCondition {
  background-image: url(https://sandbox.pb-online.co.in/assets/images/term-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*        height: 100%;*/
}

.back-btn {
  font-size: 18px;
}

.term-section p {
  margin-bottom: 10px;
}

.positionab {
  /*  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) -18.12%, rgba(0, 0, 0, 0.71) -1.51%, rgba(0, 0, 0, 0.97) 13.26%, #000000 36.63%);*/
  background: rgb(0, 0, 0);

}

.subscription-table thead th.active {
  border-radius: 4px 4px 0 0;
}


.subscription-table tbody tr:last-child td.active {
  border-radius: 0 0 4px 4px
}


.subscription-table thead th {
  background: #181818;
  color: #fff;
}


.subscription-table thead th {
  text-align: center;
  color: #7C7C7C;
  min-width: 150px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: #000;
}

.subscription-table tbody .dd-plan {
  text-align: center;
  font-size: 12px;
  color: #7C7C7C;

}


.subscription-table thead .left-sticky {
  background: #181818;
  color: #fff;
  z-index: 5 !important;
}


.subscription-table tbody .dd-plan.active {
  background: #181818;
  color: #fff;
}

.plan-table {
  overflow: auto;
  max-height: 350px;
}

.plan-table::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.radio-buttons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  overflow: auto;
  padding: 10px 0;
}



.radio-buttons::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

.custom-radio {
  margin: 0 5px;
}

.custom-radio input {
  display: none;
}


.blurBG {
  background: linear-gradient(rgba(0, 1, 1, 0), #000);
  height: 80px;

}

.hobbies-icon .h5 {
  font-size: 28px !important;
  font-family: 'AnekLatin-Bold' !important;
  color: #fff;
  margin: 0;
  padding: 4px 0;
}

.hobbies-icon .h5 sub {
  font-family: 'AnekLatin-Regular';
  font-weight: 400;
  font-size: 16px !important;
}

.hobbies-icon .premium_ic {
  font-size: 18px !important;
  font-family: 'AnekLatin-SemiBold' !important;
}

.radio-btn .hobbies-icon img {
  display: block;
  width: 100%;
  margin-bottom: 20px;

}

.radio-btn .hobbies-icon i {
  color: #FFDAE9;
  line-height: 80px;

}

.ptp {
  color: #fff;
  background: var(--pbg);
  padding: 9px 12px;
  font-size: 15px;
  border-radius: 8px;
}


.border-botoom-dot:hover {
  color: #fff;
}

.border-botoom-dot {
  color: #fff;
  padding: 0;
  border-bottom: 0.5px var(--pbc);
  background: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-bottom: 2px;
}


.mc-content {
  background: #1e1e1e;
  border-radius: 13px;
}

.Crossmodal {
  background: #292929;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-top: -20px;


}

.code-input::focus-visible {
  outline: 0px;

}

.code-input {
  background: #2B2B2B;
  border: none;
  color: #ddd;
  border-radius: 4px;
  height: 38px;
  font-size: 14px;
  padding-left: 9px;

}

.applyCodeInactive:hover {
  color: #979797;
}

.applyCodeActive:hover {
  color: #fff;
}

.applyCodeInactive {
  background: #484848;
  color: #979797;
  border-radius: 6px;

}

.applyCodeActive {
  background: var(--pbg);
  color: #fff;
  border-radius: 8px;
  padding: 9px 12px;
  font-size: 15px;
}

.mc-content label {
  margin: 0;
  font-size: 12px;
  margin-bottom: 3px;
}

.code-input:-webkit-autofill,
.code-input:-webkit-autofill:hover,
.code-input:-webkit-autofill:focus,
.code-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #19232d inset !important;
  -webkit-text-fill-color: #888 !important;
}

.code-input:focus {
  border-color: #4845f6;
  transition-delay: 0.1s;
}



@media (min-width: 576px) {
  .modal_sm {
    max-width: 350px;
  }
}



.radioChannelUl .nav-link {
  border-radius: .25rem;
  color: #8A8A8A;
  padding: 6px 6px 0 6px;
  position: relative;
  text-transform: uppercase;
}


.addedmain .added-channel img {
  width: 100%;
}

.subscription_close_img {
  width: 16px;
  height: 16px;
}

.text-subscription-head {
  color: #dbdbdb;
  font-size: 28px;
}


.addedmain .added-channel .removeList {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  color: #fff;
  background: #29292999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

#channels {
  padding: 9px 20px !important;
  font-size: 15px;
  border-radius: 8px;
}

.addedmain .added-channel {
  min-width: 100px;
  max-width: 100px;
  margin: 0 5px;
  width: 100%;
  border-radius: 10px;
  position: relative;
}



.addedmain::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

.addedmain {
  display: flex;
  overflow-x: auto;
  width: 100%;

}

.textRadioChannel {
  color: #8A8A8A
}

.channelLinstingMain .channelName {
  padding-left: 5px
}

.channelLinstingMain .channelName span {
  color: #898989
}


.channelLinstingMain input[type="checkbox"] {
  background: #282828 !important;
  color: white;
}


.channelLinstingMain {
  background: #282828;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin: 5px 0;
}


.channelLinstingMain .img_ img {
  width: 100%;
  border-radius: 6px;
}

.channelLinstingMain .img_ {
  min-width: 95px;
  max-width: 95px;
  border-radius: 10px;
  height: 53.4px;
  overflow: hidden;
}

.m-q-y button.active {
  background: var(--pbg);
  color: #fff;
}

.m-q-y button {
  background: #1E1E1E;
  border: none;
  color: #8f8f8f;
  border-radius: 7px;
  padding: 4px 40px;
  margin: 0 5px;
}

.cursor-pointer {
  cursor: pointer;
}

/*plan card=====*/



.plan_dur {
  color: #969696;
}

.clearfixBorder {

  padding-bottom: 2px;
  background: linear-gradient(to left, rgb(29 29 29) 0%, rgb(29 29 29) 0%, rgb(255 255 255 / 24%) 47%, rgb(29 29 29) 100%) left bottom #1d1d1d no-repeat;
  background-size: 100% 5px;
}


.upgrad_maindiv {
  border-left: 1px solid rgb(29 29 29);
  height: 100%;


}

.channelRadioUpgradMainDiv {
  padding: 20px 0 17px 20px;
}



.channelRadioUpgradMainDiv .child-card-plan {
  width: calc(21vw);
  border: 1px solid #181818;
  padding: 10px;
  border-radius: 6px;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.c-plan {
  font-size: 10px;
  background: rgba(237, 214, 11, 1);
  color: rgba(0, 0, 0, 1);
  padding: 2px 4px;
  border-radius: 5px;
  margin-top: 15px;
  top: -25px;
  position: absolute;

}

.no-cursor {
  cursor: context-menu !important;
}


.u-plan {
  font-size: 10px;
  background: rgba(98, 93, 245, 1);
  color: rgba(0, 0, 0, 1);
  padding: 2px 4px;
  border-radius: 5px;
  margin-top: 15px;
  color: #fff;
  top: -25px;
  position: absolute;
}

.upg_radio input:checked+.upgrad_p {
  border: 1.5px solid rgba(98, 93, 245, 1) !important;
  background: rgba(0, 0, 0, 1) !important;

}


.upgrad_p {
  width: calc(15vw)
}

.upgrad_p h6 {
  font-size: 14px;
  color: #fff
}

.upgrad_p>i {
  background: rgba(98, 93, 245, 1);
  color: #fff;
}

.bg-bodyCollapse {
  background: rgba(0, 0, 0, 1);
  border: 1px solid rgba(60, 60, 60, 1);
  border-radius: 10px;
}

.attentionImg img {
  width: 100px;
}

.channelRadioUpgradMainDiv .radio-btn {
  min-width: 210px !important;
}

.inactive {
  background: #3E3E3E;

}


.channelRadioUpgradMainDiv .m-q-y button {

  padding: 4px 30px !important;

}

.searchSectionBoxSubs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.searchSectionBoxSubs .searcSection {
  width: 25% !important;
  padding: 9px;
  border-radius: 10px;
}

.searcSection .channelfullList img {
  border-radius: 8px;
}

/* .imgchannel img {
  width: 160px;
  height: 90px;
} */

.m-q-y {
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  display: block;
}

.m-q-y::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

#proceed:hover {
  background: var(--pbhover);
  color: #fff;
}

.deregisterbtn:hover {
  color: #fff
}

.deregisterbtn {
  background: rgba(57, 57, 57, 1);
  color: #fff;

}



.placeholder-glow .placeholder {
  -webkit-animation: placeholder-glow 2s ease-in-out infinite;
  animation: placeholder-glow 2s ease-in-out infinite;
}

.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  /*    cursor: wait;*/
  border-radius: 6px;
  background: currentColor;
  opacity: .5;
}




.placeholder-glow .radio-btn {
  cursor: context-menu !important;
}

@keyframes placeholder-glow {
  50% {
    opacity: .2;
  }
}

.coupon-img {
  height: 24px;
}

.imgchannel {
  width: 100px;
  height: 100px;
  margin: auto;
}

.imgchannel svg {
  width: 90px;
  height: 90px;
}

.cross_modal_dt {
  background: inherit !important;
  margin-right: -7px;
}

.cross_modal_dt .subscription_close_img {
  width: 14px;
  height: 14px;
}

.paymentTable thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #33335f !important;
  border-top: none !important;
  color: #8e8e8e;
  font-size: 14px;
  padding: 16px !important;
  font-weight: 500;
}

.paymentTable {
  margin-bottom: 0;
  background: #0D0D0D;
}

.paymentTable td {
  font-size: 16px;
  border-top: none !important;
  padding: 16px !important;
}

.paymentTable tr {
  border-bottom: 1px solid #1f1f1f !important;
}

.paymentTable tr:last-child {
  border-bottom: none !important;
}

.paymentTable .dallColor {
  color: #8e8e8e;
  font-size: 16px;
}

.paymentTable .f-heading {
  color: #D6D6D6;
}

.promo-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo_remove {
  color: var(--pbg);
  font-size: 16px;
  padding-left: 0;
}

.promo_remove:hover {
  color: var(--pbg)
}

@media(min-width:1200px) {
  section#main-content {
    flex-grow: 1;
  }

  body,
  body.swal2-shown.swal2-height-auto {
    display: flex !important;
    flex-direction: column !important;
    height: 100vh !important;
    font-family: "AnekLatin", sans-serif;
  }
}

p {
  margin: 0;
}

.termCondition {
  background-image: url(https://sandbox.pb-online.co.in/assets/images/term-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*        height: 100%;*/
}

.back-btn {
  font-size: 18px;
}

.term-section p {
  margin-bottom: 10px;
}

.positionab {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) -18.12%, rgba(0, 0, 0, 0.71) -1.51%, rgba(0, 0, 0, 0.97) 13.26%, #000000 36.63%);


}

.subscription-table thead th.active {
  border-radius: 4px 4px 0 0;
}


.subscription-table tbody tr:last-child td.active {
  border-radius: 0 0 4px 4px
}


.subscription-table thead th {
  background: #181818;
  color: #fff;
}


.subscription-table thead th {
  text-align: center;
  color: #7C7C7C;
  min-width: 150px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: #000;
}

.subscription-table tbody .dd-plan {
  text-align: center;
  font-size: 12px;
  color: #7C7C7C;

}


.subscription-table thead .left-sticky {
  background: #181818;
  color: #fff;
  z-index: 5 !important;
}

.subscription-table thead .dd-plan.active {
  background: #181818;
  color: #fff;
}

.subscription-table tbody .dd-plan.active {
  background: #181818;
  color: #fff;
}



.plan-table {
  overflow: auto;
  height: 350px;
}


.plan-table::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}




.radio-buttons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.custom-radio input {
  display: none;
}




.radio-btn .hobbies-icon img {
  display: block;
  width: 100%;
  margin-bottom: 20px;

}

.radio-btn .hobbies-icon i {
  color: #FFDAE9;
  line-height: 80px;

}



.custom-radio input:checked+.radio-btn>i {
  opacity: 1;
  /*  transform: translateX(-50%) scale(1);*/
  display: block !important;
}


.border-botoom-dot:hover {
  color: #fff;
}

.border-botoom-dot {
  color: #fff;
  padding: 0;
  border-bottom: 0.5px dotted var(--pbc);
  background: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}


.mc-content {
  background: #181818;
  border-radius: 13px;
}

.Crossmodal {
  background: #292929;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-top: -20px;


}

.code-input::focus-visible {
  outline: 0px;

}

.code-input {
  background: #2B2B2B;
  border: none;
  color: #ddd;
  border-radius: 4px;
  height: 30px;
  font-size: 12px;
  padding-left: 5px;

}

.applyCodeInactive:hover {
  color: #979797;
}

.applyCodeActive:hover {
  color: #fff;
}

.applyCodeInactive {
  background: #484848;
  color: #979797;
  border-radius: 6px;

}

.applyCodeActive {
  background: var(--pbg);
  color: #fff;
  border-radius: 6px;

}

.mc-content label {
  margin: 0;
  font-size: 12px;
}

.code-input:-webkit-autofill,
.code-input:-webkit-autofill:hover,
.code-input:-webkit-autofill:focus,
.code-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #19232d inset !important;
  -webkit-text-fill-color: #888 !important;
}

.code-input:focus {
  border-color: #4845f6;
  transition-delay: 0.1s;
}



@media (min-width: 576px) {
  .modal_sm {
    max-width: 350px;
  }
}



.radioChannelUl .nav-link {
  border-radius: .25rem;
  color: #8A8A8A;
  padding: 6px 6px 0 6px;
  position: relative;
  text-transform: uppercase;
}


.radioChannelUl .nav-link.active,
.radioChannelUl .show>.nav-link {
  color:var(--pbc);
  background: none;
}

.radioChannelUl .nav-link.active::after {
  content: '';
  display: inherit;
  width: 50px;
  margin: 3px auto -1px;
  border-top: 5px solid var(--pbc);
  border-radius: 6px 6px 0 0;
}

.addedmain .added-channel img {
  width: 100%;
}


.addedmain .added-channel .removeList {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  color: #fff;
  background: #29292999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}


.addedmain .added-channel {
  min-width: 100px;
  max-width: 100px;
  margin: 0 5px;
  width: 100%;
  border-radius: 10px;
  position: relative;
}



.addedmain::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

.addedmain {
  display: flex;
  overflow-x: auto;
  width: 100%;

}

.textRadioChannel {
  color: #8A8A8A
}

.channelLinstingMain .channelName {
  padding-left: 5px
}

.channelLinstingMain .channelName span {
  color: #898989
}


.channelLinstingMain input[type="checkbox"] {
  background: #282828 !important;
  color: white;
}


.channelLinstingMain {
  background: #282828;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin: 5px 0;
}


.channelLinstingMain .img_ img {
  width: 100%
}

.channelLinstingMain .img_ {
  min-width: 90px;
  max-width: 90px;
  border-radius: 10px;
}

.m-q-y button.active {
  background: var(--pbg)
}

.m-q-y button {
  background: #1E1E1E;
  border: none;
  color: #fff;
  border-radius: 7px;
  padding: 4px 40px;
  margin: 0 5px;
}

.cursor-pointer {
  cursor: pointer;
}

/*plan card=====*/



.plan_dur {
  color: #969696;
}

.clearfixBorder {

  padding-bottom: 2px;
  background: linear-gradient(to left, rgb(29 29 29) 0%, rgb(29 29 29) 0%, rgb(255 255 255 / 24%) 47%, rgb(29 29 29) 100%) left bottom #1d1d1d no-repeat;
  background-size: 100% 5px;
}


.upgrad_maindiv {
  border-left: 1px solid rgb(29 29 29);
  height: 100%;


}

.channelRadioUpgradMainDiv {
  padding: 20px 0 17px 20px;
}




.channelRadioUpgradMainDiv .child-card-plan {
  width: calc(21vw);
  border: 1px solid #181818;
  padding: 10px;
  border-radius: 6px;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.no-cursor {
  cursor: context-menu !important;
}


.u-plan {
  font-size: 10px;
  background: rgba(98, 93, 245, 1);
  color: rgba(0, 0, 0, 1);
  padding: 2px 4px;
  border-radius: 5px;
  margin-top: 15px;
  color: #fff;
}

.upg_radio input:checked+.upgrad_p {
  border: 1.5px solid rgba(98, 93, 245, 1) !important;
  background: rgba(0, 0, 0, 1) !important;

}


.upgrad_p {
  width: calc(21vw)
}

.upgrad_p>i {
  background: rgba(98, 93, 245, 1);
  color: #fff;
}

.bg-bodyCollapse {
  background: rgba(0, 0, 0, 1);
  border: 1px solid rgba(60, 60, 60, 1);
  border-radius: 10px;
}

.attentionImg img {
  width: 100px;
}


.searchSectionBoxSubs .searcSection {
  width: 16.6%;
  padding: 5px;
  border-radius: 10px;
}

.deregisterbtn:hover {
  color: #fff
}

.deregisterbtn {
  background: rgba(57, 57, 57, 1);
  color: #fff;

}


.placeholder-glow .placeholder {
  -webkit-animation: placeholder-glow 2s ease-in-out infinite;
  animation: placeholder-glow 2s ease-in-out infinite;
}

.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  /*    cursor: wait;*/
  order-radius: 6px;
  background: currentColor;
  opacity: .5;
}




.placeholder-glow .radio-btn {
  cursor: context-menu !important;
}

@keyframes placeholder-glow {
  50% {
    opacity: .2;
  }
}





.paymentTable thead th {
  border-top: 0 !important;
  border-bottom: 1px solid rgba(47, 47, 47, 1);
}


.f-500 {
  font-weight: 500;
}

.custom-control .switch {
  width: 40px !important;
  height: 14px !important;
}

.custom-control .slider.round {
  width: 40px !important;
  height: 15px !important;
}

.custom-control .slider:before {
  height: 22px !important;
  width: 22px !important;
  left: 0px !important;
  bottom: -3px !important;
}

.custom-control input:checked+.slider:before {
  -webkit-transform: translateX(18px) !important;
  -ms-transform: translateX(18px) !important;
  transform: translateX(18px) !important;
}

input:checked+.slider:before {
  background: var(--pbg);

}

.ep_tab_dt .nav-link.active {
  background: var(--pbg);
  color: var(--white);
  border-color: none;
  font-size: 15px;
  padding: 7px 30px;
}

.ep_tab_dt .nav-link {
  background: rgba(37, 37, 37, 1);
  color: rgba(138, 138, 138, 1);
  border: none;
  font-size: 15px;
  padding: 7px 30px;
  margin-right: 20px;
  border-radius: 6px !important;
}

.episodes_tab_btns .ep_tab_dt {
  border-bottom: none;
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  flex-wrap: nowrap;
}

.sub_scribed_btn {
  padding: 9px 15px;
  font-size: 14px;
  background: var(--pbg);
  border-radius: 5px;
}

#main-content .sub_heading_dt {
  font-size: 18px !important;
}

.sub_scribed_btn:hover {
  background: var(--pbhover);
  color: #fff;
}

.text-pri-color {
  color: var(--pbc) !important;
}

.sub_headingmax {
  color: #80807f;
  text-align: center;
  padding: 10px 0;
  width: 51%;
  margin: 0 auto;
  line-height: normal;
}

.plan_dash-heading {
  color: rgba(178, 173, 173, 1);
  font-size: 15px !important;
}

.plan-dashobard .plan-card {
  margin-top: 10px;
}

.plan_basic_tt {
  font-size: 16px;
  text-transform: capitalize;
}

.upgrade_padd {
  padding-top: 0 !important;
}

.channelrad_pad {
  padding-top: 0 !important;
}

.m-q-y button {
  font-family: 'AnekLatin-Regular';
  font-weight: 400;
}

.cance_btn {
  color: var(--pbc);
}

.hobbies-icon .dallColor {
  color: rgba(192, 192, 192, 1);
}

.hobbies-icon .fa-indian-rupee-sign {
  line-height: inherit !important;
  color: #fff !important;
  margin-right: 4px;
}

.subscription-table thead th {
  padding-top: 20px;
}

.add-btn {
  color: var(--pbc) !important;
}

.applyCodeActivee {
  background: var(--pbg) !important;
}

#apply_button:disabled {
  border: 1px solid rgba(151, 151, 151, 1) !important;
  color: rgba(51, 51, 51, 1);
}
.promo_otp_button{
  border: 1px solid var(--pbc) !important;
  color:var(--pbc);
  border-radius: 5px;
  padding: 8px 12px;
  white-space: nowrap;
  font-size: 14px;
  background: inherit;
}
.rent_height{
  line-height:normal;
  text-align: left;
  font-family: 'AnekLatin-SemiBold' !important;
  font-weight:600;
}
.border-botoom-dot{
  font-family: 'AnekLatin-Regular' !important;
  font-weight:400;
}
.promo_applied{
 color: rgba(44, 165, 78, 1);
}
.saved_discount{
 color: rgba(220, 220, 220, 1);
}
.coupon_f{
  font-size:13px;
}
.copon_rem{
  font-size:14px !important;
  padding-top:3px !important;
}
.rent_txt{
  color:rgba(167, 167, 167, 1);
  font-size:14px;
  line-height: normal;
}