.member_table td {
  border: none !important;
  color: #fff
}

.member_table th {
  border: none !important;
  color: #fff
}

.f12 {
  font-size: 12px;
}

.botm_price {
  background: #787878;
  border-radius: 2px;
  color: #fff;
  padding: 4px 35px;
  margin: 2px;
}

.planid {
  background-color: #19232d;
  color: #fff;
  border: none;
}

.planPrice {
  background-color: #19232d;
  color: #fff;
  border: none;
}

.totalAmount {
  background-color: #19232d;
  color: #fff;
  border: none;
}

.price_member {
  font-size: 15px;
  margin-top: 5px;
}

.radio_member {
  height: 22px !important;
  width: auto !important;
  position: absolute;
}

.white {
  color: #fff
}

.remaining {
  background-color: #19232d;
  color: #fff;
  border: none;
}

.pay_now {
  background: var(--pbg);
  padding: 10px 90px;
  color: #fff;
  border-radius: 4px;
  margin: 0 auto;
}

.rmbg {
  background: #30333a;
}

.bg_clr_price {
  border: 2px solid #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  transition: transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93), -webkit-transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93), -o-transform .25s cubic-bezier(0.33, 0.04, 0.63, 0.93);
}

.des_prc_txt h1 {
  font-size: 35px;
  font-weight: 600;
}

@media(max-width:600px) {
  .des_prc_txt h1 {
    font-size: 25px;
    font-weight: 700;
  }
}

.hGreen {
  color: #fff
}

.hGreen:hover {
  background: green !important;
  color: #fff !important
}

.prc_section small {
  font-size: 60% !important
}


.title_price_dt h4 {
  color: #fff;
  margin-bottom: 0;
}

.title_price_dt p {
  color: #4d6075;
  font-size: 16px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.check_icon {
  background-color: #422c38;
  padding: 6px;
  border-radius: 50%;
  font-size: 13px;
  display: inline-block;
  margin-right: 15px;
  color: var(--color9);
}

.prc_section h2 {
  font-size: 20px;
  color: #878787;
}

.bg_clr_price {
  background: #1a1a1a
}

.bg_clr_price ul li {
  list-style: none;
  padding: 10px 12px;
  border-bottom: 1px solid #1a1a1a;
  color: #878787;
}

.bg_clr_price ul {
  padding-inline-start: 0px;
}

.price_cst_btn {
  background: #808080;
  color: #fff;
  border-radius: 4px;
  padding: 4px 20px;
  border: none;
}

.price_cst_btn:hover {
  background: green;
  color: #fff;
  border: none;
}

.price_bt_dv {
  text-align: center;
}

.purchased_bt {
  color: #fff !important;
  cursor: inherit !important;
  background: green !important
}

.active_bg_clr {
  border: 2px solid #fff;
}

.bg_clr_price:hover {
  border: 2px solid #fff;
}

.des_prc_txt h1 {
  color: #878787;
}

.des_prc_txt h6 {
  color: #878787;
}

.big_txt {
  background: -webkit-linear-gradient(45deg, #ffffff, #808080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 35px;
}

.subscribe_dt {
  color: #6e747a;
  display: inline-block;
  margin-top: 5px;
  font-size: 12px !important;
}

.suscribe_title {
  font-weight: 700;
  font-size: 16px;
  /* color: #fedf7b; */
  color: #fff;
  display: block;
}

.suscribe_btn sup {
  font-weight: 400;
  /* margin-right: 2px; */
  font-size: 15px;
  position: relative;
  top: -3px;
}

.suscribe_plan {
  font-size: 20px;
  font-weight: 600;
}

.suscribe_plan sup {
  top: -3px;
}

.pack_duration {
  font-size: 12px;
  font-weight: 400;
}

.plan_btn {
  border: 1px solid #1f80e0;
  width: calc(33% - 10px);
  padding: 5px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
}


.subscribe_table tr td:nth-child(1) {
  position: sticky;
  left: 0;
  text-align: left !important;
  /*box-shadow: 6px 10px 11px #ccc;*/
  padding-right: 25px;
  background: #121212;

}

.subscribe_table tr td {
  text-align: center;
  vertical-align: middle;
}

:root {
  --card-line-height: 1.2em;
  --card-padding: 1em;
  --card-radius: 0.5em;
  --color-green: green;
  --color-gray: #e2ebf6;
  --color-dark-gray: #c4d1e1;
  --radio-border-width: 2px;
  --radio-size: 1.5em;
}

.cardsPlan {
  border-radius: 4px;
  position: relative;
  width: 190px;
  min-width: 170px;

  margin: 15px 10px;

}

.cardsPlan:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.radioPlan {
  font-size: inherit;
  margin: 0;
  position: absolute;
  top: -10px;
  right: -1px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .radioPlan {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
    height: var(--radio-size);
    outline: none;
    transition: background 0.2s ease-out, border-color 0.2s ease-out;
    width: var(--radio-size);
  }

  .radioPlan::after {
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: "";
    display: block;
    height: 0.75rem;
    left: 25%;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
    width: 0.375rem;
  }

  .radioPlan:checked {
    background: var(--pbg);
    border-color: var(--pbg);
  }

  .cardsPlan:hover .radioPlan {
    border-color: var(--color-dark-gray);
  }

  .cardsPlan:hover .radioPlan:checked {
    border-color: var(--pbg);
  }
}

.plan-details {
  border: 1px solid #808080;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  transition: border-color 0.2s ease-out;
}



.radioPlan:checked~.plan-details .cPlan {
  background: var(--pbg) !important;
}

.radioPlan:checked~.plan-details {
  border-color: var(--pbg);
}


.radioPlan:checked~.plan-details {
  background: #000;
}

.radioPlan:focus~.suscribe_title {
  color: #fedf7b;
}

.radioPlan:checked~.suscribe_title {
  /* color:#fff; */
}

.radioPlan:disabled~.plan-details {
  color: var(--color-dark-gray);
  cursor: default;
}

.radioPlan:disabled~.plan-details .plan-type {
  color: var(--color-dark-gray);
}

.cardsPlan:hover .radioPlan:disabled~.plan-details {
  border-color: var(--color-gray);
  box-shadow: none;
}

.cardsPlan:hover .radioPlan:disabled {
  border-color: var(--color-gray);
}

.bg_subscribeDiv {
  background: #121212;
  border-radius: 15PX
}

.cPlan {
  margin: -16px;
  background: #808080;
  border-radius: 6px 6px 0 0;
  margin-bottom: 0px;
  padding: 0 4px;
  font-size: 14px;
  text-align: center;
}

.subscribe_table tr td {
  border-top: none
}

.opecitydown {
  opacity: .5;
  position: relative;
}


.suscribe_content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

}

.suscribe_content::-webkit-scrollbar {
  margin-top: 10px;
  width: 6px;
  height: 6px;

}

.suscribe_content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--pbg);
}

.scroll_plan {
  width: 100%;
  overflow-x: auto;

  justify-content: center;
  -webkit-overflow-scrolling: touch;
}

.proceed_pay {
  background: var(--pbg);
  color: #fff;
  padding: 10px
}

.proceed_pay:hover {
  background: var(--pbg);
  color: #fff !important
}


@media(max-width:1200px) {
  .scroll_plan {
    justify-content: start;
  }
}

.imgchannel {
  width: 100px;
  height: 100px;
  margin: auto;
}

.imgchannel svg {
  width: 100px;
  height: 100px;
}
.imgchannel {
  width: 100px;
  height: 100px;
  margin: auto;
}

.imgchannel svg {
  width: 100px;
  height: 100px;
}
@media(min-width:1200px) {
  section#main-content {
    flex-grow: 1;
  }

  body,
  body.swal2-shown.swal2-height-auto {
    display: flex !important;
    flex-direction: column !important;
    height: 100vh !important;
    font-family: 'AnekLatin-Regular';
  }
}

  p {
      margin: 0;
  }

  .termCondition {
      background-repeat: no-repeat;
      background-size: cover;
/*        height: 100%;*/
  }

  .back-btn {
      font-size: 18px;
  }

  .term-section p {
      margin-bottom: 10px;
  }

.positionab{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) -18.12%, rgba(0, 0, 0, 0.71) -1.51%, rgba(0, 0, 0, 0.97) 13.26%, #000000 36.63%);


}

.subscription-table thead th.active{
  border-radius: 4px 4px 0 0 ;
}


.subscription-table tbody tr:last-child td.active{
 border-radius: 0 0 4px 4px
}


  .subscription-table thead th{
       background: #181818;
   color: #fff;
  }


  .subscription-table thead th{
        text-align: center;
        color: #7C7C7C;
        min-width: 150px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 2;
          background: #000;
  }

.subscription-table tbody .dd-plan{
  text-align: center;
  font-size: 12px;
  color: #7C7C7C;

}


.subscription-table thead .left-sticky{
   background: #181818;
   color: #fff;
   z-index: 5 !important;
}
.subscription-table thead .dd-plan.active{
   background: #181818;
   color: #fff;
}

.subscription-table tbody .dd-plan.active{
   background: #181818;
   color: #fff;
}

.plan-table {
   overflow: auto;
height: 350px;
}


.plan-table::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.radio-buttons 
{
   width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.custom-radio input 
{
display: none;
}

.hobbies-icon h6 {
  font-size: 16px !important;
}


.radio-btn .hobbies-icon img
{
display:block;
width:100%;
margin-bottom:20px;

}
.radio-btn .hobbies-icon i 
{
color: #FFDAE9;
line-height: 80px;
 
}

.border-botoom-dot:hover{
  color: #fff;
}
.border-botoom-dot{
     color: #fff;
  padding: 0;
  border-bottom: 0.5px dotted #625DF5;
  background: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}


.mc-content{
      background: #181818;
  border-radius: 13px;
}

.Crossmodal{
      background: #292929;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
      margin-top: -20px;


}

.code-input::focus-visible {
  outline: 0px;

}
.code-input{
  background: #2B2B2B;
      border: none;
      color: #ddd;
  border-radius: 4px;
  height: 30px;
  font-size: 12px;
  padding-left: 5px;

}

.applyCodeInactive:hover{ color: #979797;}
.applyCodeActive:hover{ color: #fff;}

.applyCodeInactive{
  background: #484848;
color: #979797;
 border-radius: 6px;

}
.applyCodeActive{
background: #625DF5;
color: #fff; 
  border-radius: 6px;

}

.mc-content label{
  margin: 0;
  font-size: 12px;
}

.code-input:-webkit-autofill,
.code-input:-webkit-autofill:hover,
.code-input:-webkit-autofill:focus,
.code-input:-webkit-autofill:active {
-webkit-box-shadow: 0 0 0 30px #19232d inset !important;
-webkit-text-fill-color: #888 !important;
}
.code-input:focus {
border-color: #4845f6;
transition-delay: 0.1s;
}



@media (min-width: 576px) {
  .modal_sm {
      max-width: 350px;
  }
}

.radioChannelUl .nav-link {
    border-radius: .25rem;
  color: #8A8A8A;
  padding: 6px 6px 0 6px;
  position: relative;
  text-transform: uppercase;
}


.radioChannelUl .nav-link.active, .radioChannelUl .show>.nav-link {
  color: #625DF5;
  background: none;
}

.radioChannelUl .nav-link.active::after {
      content: '';
  display: inherit;
  width: 50px;
  margin: 3px auto -1px;
  border-top: 5px solid #625DF5;
  border-radius: 6px 6px 0 0;
}

.addedmain .added-channel img{
  width: 100%;
}


.addedmain .added-channel .removeList{
    position: absolute;
  top: 2px;
  right: 2px;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  color: #fff;
  background: #29292999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}


.addedmain .added-channel{
  min-width: 100px;
  max-width: 100px;
  margin: 0 5px ;
   width: 100%;
  border-radius: 10px;
  position: relative;
}

.addedmain::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}
.addedmain{
      display: flex;
  overflow-x: auto;
  width: 100%;

}

.textRadioChannel{
 color:  #8A8A8A
}

.channelLinstingMain .channelName {padding-left: 5px}
.channelLinstingMain .channelName h4{color: #fff;
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: 3em;}
.channelLinstingMain .channelName span{color: #898989}


.channelLinstingMain input[type="checkbox"] {
      background-color: #282828 !important;
      color: white;
  }


.channelLinstingMain{
  background: #282828;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin: 5px 0;
}


.channelLinstingMain .img_ img{width: 100%}

.channelLinstingMain .img_{
  min-width: 90px;
  max-width: 90px;
  border-radius: 10px;
}

.m-q-y button.active {background: #625DF5}
.m-q-y button {
  background: #1E1E1E;
  border: none;
  color: #fff;
  border-radius: 7px;
  padding: 4px 40px;
  margin: 0 5px;
}

.cursor-pointer{
  cursor: pointer;
}

.plan-card{border: Mixed solid;
  border-radius: 15px;
  padding: 15px;
border:1px solid #7C7C7C;
background: #1D1D1D;

}

.plan_dur{
  color: #969696;
}

.clearfixBorder {
 
     padding-bottom: 2px;
  background: linear-gradient(to left, rgb(29 29 29) 0%, rgb(29 29 29) 0%, rgb(255 255 255 / 24%) 47%, rgb(29 29 29) 100%) left bottom #1d1d1d no-repeat;
  background-size: 100% 5px;
}
.upgrad_maindiv{
border-left: 1px solid rgb(29 29 29);
height: 100%;
}

.channelRadioUpgradMainDiv{
  padding: 20px 0 17px 20px;
}
.channelRadioUpgradMainDiv .child-card-plan {
      width: calc(21vw);
  border: 1px solid #181818;
  padding: 10px;
  border-radius: 6px;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.c-plan {
  font-size: 10px;
  background: rgba(237, 214, 11, 1);
  color: rgba(0, 0, 0, 1);
  padding: 2px 4px;
  border-radius: 5px;
      margin-top: 15px;

}
.no-cursor{
  cursor: context-menu !important;
}
.u-plan {
  font-size: 10px;
  background: rgba(98, 93, 245, 1);
  color: rgba(0, 0, 0, 1);
  padding: 2px 4px;
  border-radius: 5px;
  margin-top: 15px;
      color: #fff;
}

.upg_radio input:checked + .upgrad_p {
 border: 1.5px solid rgba(98, 93, 245, 1) !important;
  background: rgba(0, 0, 0, 1) !important;

}


.upgrad_p {width: calc(21vw)}
.upgrad_p > i{
  background: rgba(98, 93, 245, 1);
  color: #fff;
}

.bg-bodyCollapse{
  background:rgba(0, 0, 0, 1); 
  border: 1px solid rgba(60, 60, 60, 1); 
  border-radius: 10px;
}

.attentionImg img{
      width: 100px;
}
.searchSectionBoxSubs .searcSection {
  width: 16.6%;
  padding: 5px;
  border-radius: 10px;
}

.deregisterbtn:hover{color: #fff}
.deregisterbtn{
  background: rgba(57, 57, 57, 1);
  color: #fff;

}
.placeholder-glow .placeholder {
  -webkit-animation: placeholder-glow 2s ease-in-out infinite;
  animation: placeholder-glow 2s ease-in-out infinite;
}
.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
/*    cursor: wait;*/
order-radius: 6px;
  background-color: currentColor;
  opacity: .5;
}




.placeholder-glow .radio-btn {
cursor: context-menu !important;}

@keyframes placeholder-glow {
50% {
  opacity: .2;
}
}
.dallColor{
  color: rgba(192, 192, 192, 1);
}
.paymentTable thead th{
   border-top: 0 !important;
   border-bottom: 1px solid rgba(47, 47, 47, 1);
}
.f-500 {
  font-weight: 500;
}


/*end here*/



