body, html {
    margin: 0;
    padding: 0;
    
}

.container_epg {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.days-bar, .time-bar-wrapper {
    display: flex;
    align-items: center;
    color: #ddd;
}
/* Basic scrollbar properties */
.days-wrapper::-webkit-scrollbar,
.shows-wrapper::-webkit-scrollbar,
.channel-names::-webkit-scrollbar {
width: 0 !important;
    scrollbar-width: none !important;
    /* Hide the scrollbar */
    scrollbar-color: transparent transparent !important;
    
}
#live_pb{
    margin-top:15px;
}
/* Track properties */
.days-wrapper::-webkit-scrollbar-track,
.shows-wrapper::-webkit-scrollbar-track,
.channel-names::-webkit-scrollbar-track {
width: 0 !important;
    scrollbar-width: none !important;
    /* Hide the scrollbar */
    scrollbar-color: transparent transparent !important;

}

 /*
.days-wrapper::-webkit-scrollbar,
.shows-wrapper::-webkit-scrollbar,
.channel-names::-webkit-scrollbar {
    display: none;
}
 
.days-wrapper:hover::-webkit-scrollbar,
.shows-wrapper:hover::-webkit-scrollbar,
.channel-names:hover::-webkit-scrollbar {
    display: block;

}*/

/* Thumb properties */
.days-wrapper::-webkit-scrollbar-thumb,
.shows-wrapper::-webkit-scrollbar-thumb,
.channel-names::-webkit-scrollbar-thumb {
width: 0 !important;
    scrollbar-width: none !important;
    /* Hide the scrollbar */
    scrollbar-color: transparent transparent !important;

}

/* Corner properties */
.days-wrapper::-webkit-scrollbar-corner,
.shows-wrapper::-webkit-scrollbar-corner,
.channel-names::-webkit-scrollbar-corner {
width: 0 !important;
    scrollbar-width: none !important;
    /* Hide the scrollbar */
    scrollbar-color: transparent transparent !important;
}


.days-bar .scroll-left, .days-bar .scroll-right {
    background: rgba(0,0,50,1);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 100px;
    color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin-top: -9px;
}

.days-wrapper {
    overflow-x: hidden;
    padding-bottom: 10px;
    width: calc(100% - 60px) !important;
}

.days {
    display: flex;
    overflow: auto;
}

.day {
    margin: 0 5px;
     cursor: pointer; 
    padding: 5px 40px;
    background: rgba(14, 22, 83, 1);
    border-radius: 5px;
    white-space: nowrap;
    font-size: 14px;
    font-family: 'AnekLatin-Medium';
        font-weight: 500;
}

.day.active {
    background: var(--pbg);
    color: white;
        cursor: no-drop;
}

.time-bar-wrapper {
 position: sticky;
    margin-left: 92px;
    top: 0;
    z-index: 22;

}

.time-bar {
    display: flex;
    position: relative;
    width: 9600px; /* Total width for 24 hours (200px per hour) */
}

.time-slot {
    flex: 0 0 200px;
    padding-left: 6px;
    border-right: 2px solid rgba(81, 81, 81, 1);
    color: rgba(176, 176, 176, 1);
    /* margin: 3px; */
    font-size:14px;
    font-family: 'AnekLatin-Medium';
        font-weight: 500;
    background: rgba(0, 0, 55, 1) !important;
}

.isLive{
    height: 10px;
    width: 10px;
    background: var(--pbg);
    border-radius: 100px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.live-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: var(--pbg);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.channels {
    position: relative;
    /*display: flex;
    flex-direction: column;*/
    /* max-height: 350px !important; */
    margin-top: 10px;

}

  .channel-names {
    width: 90px;
    flex: none;
    scroll-snap-align: start;
    position: sticky;
    left: 0;
    top: 63px; /* Adjust to match the position */
    z-index: 5;
    background: rgba(0, 0, 55, 1); /* Ensure the background color is set */
    overflow-y: hidden;

}


.flex{
    display: flex;

}


/*.Programmedetail:nth-child(1), .channel-name:nth-child(1) {
    margin: 2px auto !important;
}*/


.channel-name {
    height: 70px;
    width: 70px;
    background: rgba(14, 22, 83, 1);
    border-radius: 10px;
    margin: 9px auto;
    position: relative;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
img.channelImage {
    object-fit: contain;
    max-width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

.channel-name span.fav{
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;

}

span.fav .fa-solid{
    color: red;
}


.shows-container {
    display: flex;
    flex-direction: column;
    width: 9600px; /* Total width for 24 hours (200px per hour) */
}

.channel {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.shows {
    display: flex;
    /* flex-grow: 1; */
}

/*.show {
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
}*/

.current-time-indicator:before {
    content: "";
    display: inline-block;
    width: 41px;
    height: 19px;
    background-image: url(../images/current.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -19px;
    left: -8.5px;
    z-index: 1111;
}


.current-time-indicator {
    position: absolute;
    top: 45px;
    bottom: 0;
    width: 2px;
    background:var(--pbc);
    z-index: 2;
    height: 102%;
}

/*.current-time-indicator .marker {
    position: absolute;
    top: -10px;
    left: -4px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}*/

.Programmedetail:hover {
   /* background: linear-gradient(to right, rgb(26, 32, 44), rgb(26, 32, 44)); */
    /* background: linear-gradient(to right, rgb(5, 25, 55), rgb(0, 35, 96)); */
    background: rgb(23 23 92);
}
.Programmedetail {
    background: rgba(14, 22, 83, 1);
    z-index: 1;
    border: 3px solid rgba(0, 0, 55, 1);
        
    position: relative;
    color: #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s;
    padding: 10px 20px;
    height: 79px !important;
    /* margin: 3px; */
    display: flex;
    align-items: center;
}
.w-100{
    width: 100%;
}

.c-title{
         font-size: 16px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 600;
    color: rgb(209, 209, 209);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'AnekLatin-SemiBold';
}

 .c-time{
    display: block;
    font-size: 12.5px;
    font-weight: 400;
    color: rgba(137, 137, 137, 1);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.live-button {
    position: sticky;
    left: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color:var(--pbg);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
        margin: -3px 0 0px 0;

}



.shows-wrapper {
/*    width: calc(100% - 100px); /* Adjusted width */
/*    margin-left: 115px;*/
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}


.shows-container {
    display: flex;
    flex-direction: column;
    /* width: 100%; Adjusted width */
    min-width: max-content; /* Added min-width */
    overflow-y: auto; /* Add vertical scroll if necessary */
        padding-top: 6px;
}

.tabRadioChannel nav {
    background: rgba(50, 50, 50, 1); 
    border-radius: 10px;
}


.favoritesBtn{
    color: #fff;
    padding: 9px 20px;
    display: flex;
    align-items: center;
    font-size:16px;
    justify-content: center;
    background-color: #323232;
}
 



 .now-vertical-line {
    position: absolute;
    top: 45px;
    height: 101%;
    width: 100%;
    transition: left 600ms;
    pointer-events: none;
}


 .now-vertical-line .vert-line {
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: .3;
    z-index: 2;
    background: #7d7d7d;
    left: 0;
}
.tabRadioChannel .nav-link.active{
background: var(--pbg) !important;
}
.tabRadioChannel .nav-link{
    color:var(--white);
}
.center-text{
    position:inherit !important;
    /* text-align: center !important; */
}
