input,
p,
select {
    font-size: 1rem;
}

.second-nav {
    display: none;
}

.HeaderNav li {
    font-size: 14px;
    padding-left: 5px;
}

a:hover {
    text-decoration: none;
}

.text-color {
    color: #00aedd;
}

.vh100 {
    height: 100vh;
}


/* 
.Bghover {
    border-radius: 0;
    -webkit-appearance: initial;
    border: 2px solid;
} */

.buy_now {
    background: #00aedd;
}

.menu-links .nav>li div.text-center {
    color: #8a8a8a;
}

.btn_bg_color {
    background: #00aedd;
}

.borderC {
    border-color: gray !important;
}

.menu-links .nav>li:hover span {
    color: #000;
}

.sptb {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.author-name {
    font-size: 36px;
}

.h4-heading {
    background: #1c4c75;
    display: inline-block;
    padding: 4px 0px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 18px;
}

.show_details ul li {
    color: #212529;
}

.show_details ol li:before {
    color: #212529;
    font-size: 18px;
    font-weight: 600;
}

.minH-96UL li {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-pro-cp {
    margin-top: 7px;
    width: fit-content;
}

.slider-form {
    position: absolute;
    top: 20%;
    right: 2%;
    width: 500px;
}

.content-height p {
    margin-bottom: 0px;
}

.const_numb {
    background: #00aedd;
    color: #fff;
    border-radius: 50%;
    padding: 2px 0px;
    font-size: 18px;
    height: 40px;
    margin-right: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    float: left;
}

h4.concept-heading {
    font-size: 18px;
}


/* Over effect  */

.box_effect:hover {
    transform: scale(0.95);
    transition: all .5s ease;
}

.box_effect {
    transition: all .5s ease;
}

.my_notes_img {
    width: 375px;
    margin: 0 auto;
}


/* Over effect end */

.course_type_home {
    position: absolute;
    z-index: 9;
    background: #00aedd;
    color: #fff;
    border-top-left-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: -5px -6px 0px 0;
    border-radius: 0 0 0 20px;
    box-shadow: -2px 4px 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    right: 2px;
}

.course_type_home:before,
.course_type_home:after {
    content: "";
    background: linear-gradient(to right bottom, transparent 49%, #0f4c75 50%);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 0;
    left: -4px;
}

.course_type_home:after {
    transform: rotate(180deg);
    top: auto;
    bottom: -5px;
    left: auto;
    right: 0;
}

.rep1,
.rep2 {
    margin-bottom: 5px;
}

.borderTheme {
    border: 1px solid #d83637 !important
}

.section-title h5::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #ffc600;
    top: 25px;
    left: 13px;
}

.my_about h2 {
    font-size: 48px;
    color: #000;
    padding-top: 10px;
}

.about-single-items span {
    font-size: 60px;
    color: #dbdbdb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 46px;
    padding-bottom: 22px;
}

.about-single-items h4 {
    color: #000;
    font-size: 24px;
    padding-bottom: 10px;
}

.footer-bottom-fix-change p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 5px;
    font-size: 14px;
}

.course_first121 .cp_img {
    height: 151px;
    overflow: hidden;
    border-top-left-radius: .25rem!important;
    border-top-right-radius: .25rem!important;
}

.card .course_first121 .cp_img {
    max-width: 724px;
    max-height: 432px;
    height: auto;
    text-align: center;
    background: #e9e9e9;
    overflow: hidden;
}

#filter_data .col-md-4.col-lg-4.col-sm-6 {
    padding-right: 0px;
    padding-left: 15px;
}

.cp-valid {
    float: left;
    font-size: 13px;
    padding-bottom: 10px;
}

.course_detail_cp {
    height: 125px;
}


/*redio button design*/

.hidden {
    display: none;
}

.entry:nth-child(2) {
    left: 8px;
    top: 8px;
}

.entry {
    height: 25px;
    position: absolute;
    width: 160px;
}

.hidden:nth-child(1):checked+.entry .circle {
    border-color: #4D98EF;
}

.hidden:nth-child(3):checked+.entry .circle {
    border-color: #4D98EF;
}

.highlight {
    background: #4D98EF;
    border-radius: 50%;
    height: 12px;
    left: 14px;
    pointer-events: none;
    position: absolute;
    top: 14px;
    transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
    transform: translateY(-50px);
    width: 12px;
}

.circle {
    border: 2px solid #545556;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    position: absolute;
    transition: border-color 300ms;
    width: 20px;
}


/*redio button design*/


/*notification button in my profile*/

.onoffswitch {
    position: relative;
    width: 78px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: auto;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #00aedd;
    border-radius: 20px;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 15px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "off";
    background-color: #EEEEEE;
    color: #000;
    padding-left: 10px;
}

.onoffswitch-inner:after {
    content: "on";
    padding-right: 20px;
    background-color: #00A600;
    color: #FFF;
    text-align: right;
}

.onoffswitch-switch {
    width: 30px;
    margin: 2px;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 43px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


/*button, input, optgroup, select, textarea {
margin: 10px;
}*/


/*notification button in my profile end*/

.nav-active .footer-bottom-fix-change {
    background: #00aedd;
    color: #fff;
}

.user_name {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.about-single-items p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #505050;
    margin: 0px;
}

.social_cp_head li {
    padding: 0px;
    width: 30px;
    height: 20px;
}

button.close:focus,
span:focus {
    outline: none;
}

.fb {
    background: #3b5998;
    border-radius: 50%;
    padding: 2px 4px;
}

.ut {
    background: #00acee;
    border-radius: 50%;
    padding: 2px 0;
}

.twi {
    background: #c4302b;
    border-radius: 50%;
    padding: 2px 0;
}

#more {
    display: none;
}

.contact-location p i {
    color: #00aedd;
}


/* .Bghover:hover {
    background: #fff !important;
    color: #00aedd;
    border: 2px solid #00aedd;
} */

.colorTheme {
    color: #00aedd;
}

.login-title .form-control option {
    background: #1f3d5ce0;
}

button {
    outline: none
}

.form-control {
    border-bottom: 1px solid #e2e2e2 !important;
    padding-left: 5px !important;
    border-radius: 10px !important;
}

.login-title .form-control {
    border-radius: 3px !important;
    color: #fff;
}

.login-title .form-control::placeholder {
    color: #fff;
}

.cp-index-card {
    /* background: aquamarine; */
    padding: 15px;
    margin: 30px 0;
    border-radius: 5px;
    color: #fff;
}

.ind_heading {
    margin: 50px 0 30px 0;
    color: #00aedd;
}

.section_heading_para {
    padding: 0px 19%;
}

.cp-index-card {
    transition-duration: 0.5s;
    /* transition-timing-function: linear; */
}

.cp-index-card.admissions:hover,
.cp-index-card.new-batches:hover,
.cp-index-card.made-easy:hover,
.cp-index-card.blog:hover,
.cp-index-card.super-achiever:hover {
    -ms-transform: rotate(6deg);
    /* IE 9 */
    -webkit-transform: rotate(6deg);
    /* Safari 3-8 */
    transform: rotate(6deg);
    transition: all .5s ease;
}

.cp-index-card.made-easy:hover {
    -ms-transform: rotate(7deg);
    /* IE 9 */
    -webkit-transform: rotate(7deg);
    /* Safari 3-8 */
    transform: rotate(7deg);
    transition: all .5s ease;
}

#craosel3 .item.pl-3.mb-4:hover {
    transform: scale(0.95);
    transition: all .5s ease;
}

#craosel3 .item.pl-3.mb-4 {
    transition: all .5s ease;
}

.eltdf-process-item img {
    transition: all 0.5s;
}

.eltdf-process-item:hover img {
    transition: all 0.5s;
    transform: rotate(5deg);
}

#normal_login {
    outline: none;
}

.popular_courses {
    background: url(http://dev.appsquadz.com/career_point/web_assets/img/popular_course.png) 100% 0 no-repeat;
}

.popular_courses ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.popular_courses ul li {
    z-index: 2;
}

.popular_courses ul li a {
    padding: 10px 20px 11px 20px;
    background: #d8dee6;
    border-radius: 30px;
    margin: 0px 10px;
}

.popular_courses ul li a.nav-link.active {
    color: #ffffff;
    background-color: #00aedd;
}

section.popular_courses::before {
    background: #eacfb73b none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.admissions {
    background: #fba113;
}

.new-batches {
    background: #8f72ff;
}

.made-easy {
    background: #4681ff;
}

.blog {
    background: #14c3e5;
}

.super-achiever {
    background: #8f72ff;
}

.cp-index-card img {
    max-width: 30%;
    margin-bottom: 15px;
}

.cp-reg-frm {
    padding: 0px;
}

.bgFacebook {
    background: #2f5b9d;
}

.bgGoogle {
    background: #00aedd;
}

.h5-1 h5 {
    background-image: linear-gradient(-90deg, #4681ff, #6093fe);
}

.h5-2 h5 {
    background-image: linear-gradient(-90deg, #d7496f, #fe668f);
}

.h5-3 h5 {
    background-image: linear-gradient(-90deg, #3bad89, #5acb9d);
}

.h5-4 h5 {
    background-image: linear-gradient(-90deg, #17a4bf, #15c3e6);
}

.h5-5 h5 {
    background-image: linear-gradient(-90deg, #7658ec, #8f72ff);
}

.h5-6 h5 {
    background-image: linear-gradient(-90deg, #bb912f, #d9bf6a);
}

.h5-7 h5 {
    background-image: linear-gradient(-90deg, #ff6d00, #f69852);
}

.h5-8 h5 {
    background-image: linear-gradient(-90deg, #ed8c01, #ff9a0a);
}

.top-programs p {
    padding: 0px 90px;
}

.top-topics h5 {
    color: #fff;
    padding: 10px 0;
    border-radius: 4px;
    font-size: 15px;
}

.w-50p {
    width: 50%;
}

.serviceBox {
    min-height: 371px;
}

.cardHoverbtn.overflow-hidden h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#course_dropdown {
    border-left: 1px solid #cccccc57;
}

.cp-card .col-md-3 {
    position: relative;
}

.menu-links .nav>li {
    color: #8e8d8d;
    padding: 0px;
}

.menu-links .nav>li:hover div.text-center,
.menu-links .nav>li:active span,
.menu-links .nav>li:hover span,
.menu-links .nav>li:hover i {
    color: #00aedd;
}

.inquire_now_cp {
    background: #00aedd;
}

.menu-links .nav>li.mr-3:hover a {
    border-bottom: 2px solid #00aedd;
    padding-bottom: 9px;
}

.fa.fa-bullhorn {
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-50deg);
}

.inquire_now_cp {
    background: #00aedd;
    z-index: 9999;
    position: fixed;
    right: -77px;
    top: 54%;
    -webkit-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
    border-radius: 5px;
    padding: 10px 20px 40px;
}

.inquire_now_cp a {
    font-size: 20px;
    color: #fff;
}

#craosel6 {
    z-index: 99;
}

ul.kautilya-mail-div-style a {
    font-size: 14px;
}

.kautilya-mail-div-style a i {
    padding: 0 5px;
}

.kautilya-mail-div-style a.top-cp-button {
    padding: 2px 5px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin: 5px;
    color: #fff;
}

#craosel6 .item p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#craosel6 .owl-nav .owl-prev {
    margin-left: 0px;
}

#craosel6 .owl-nav .owl-next {
    margin-right: 0px;
}

#craosel2 p.description {
    max-height: 170px;
    overflow: hidden;
}

.cateNew {
    width: 160px;
    background: #fff;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    border: 4px solid transparent;
    position: relative;
    top: 0;
}

.videoWrapper {
    position: relative;
    padding-bottom: 52.25%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 15px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cateNew:hover {
    top: -5px;
    color: gray;
    transition: all .3s ease-in-out;
    border: 4px solid #040404;
}

.cateNew img {
    width: 50px !important;
    height: 50px;
    border-radius: 50%;
    margin: 0px auto;
    margin-bottom: 5px;
}

.minH-96UL {
    min-height: 120px;
    margin: 0 5px;
    /* height: 70px; */
}

.privacy {
    text-align: center;
    background: #00aedd;
    color: #fff;
    padding: 20px;
    margin-top: 85px;
}

.checked-sec:before {
    position: absolute;
    content: "";
    background: transparent;
    background: #fff;
    width: 8px;
    height: 2px;
    top: 15px;
    left: 4px;
    transform: rotate(47deg);
}

.checked-sec:after {
    position: absolute;
    content: "" !important;
    background: transparent;
    background: #fff;
    width: 15px;
    display: block;
    height: 2px;
    top: 13px;
    left: 9px;
    transform: rotate(-40deg);
}

.indexDiv {
    /* margin-top: 87px; */
    margin-top: 95px;
    min-height: 500px;
}

input,
select,
textarea {
    outline: none;
    border-radius: 0 !important;
    height: 40px !important;
    color: #0F4C75
}

.catemain {
    /* overflow-y: hidden; */
    /* overflow-x: auto; */
    /* display: flex; */
    width: auto;
    height: auto;
    padding: 15px 0;
}

.top-head-cp ul li a,
.top-head-cp ul li a i {
    color: #fff;
}

.menu-links .nav>li a {
    text-transform: uppercase;
    color: #00aedd;
}

.kautilya-mail-div-style .email-cp {
    /* border-right: 1px solid #ccc; */
    margin: 0px;
    padding: 12px 0px;
    padding-right: 10px;
}

.top-head-cp ul li a,
.top-head-cp ul li a:focus {
    outline: none;
}

.carousel-control-next,
.carousel-control-prev {
    width: auto !important;
    position: absolute;
    top: 50%;
    bottom: auto;
    margin: 15px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    background: #0c0c0c82;
}

.carousel-control-next,
.carousel-control-prev {
    width: auto !important;
    position: absolute;
    top: 50%;
    bottom: auto;
    margin: 15px;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    background: #0c0c0c82;
}

.card-btm {
    border-top: 1px solid #cccccc6b;
}

.kautilya-nav-style {
    width: 275px;
    margin: 10px 0;
}


/*.navbar.navbar-expand-lg.navbar-light {
    padding: 0px 0px;
}*/

.mt--80 {
    margin-top: -80px;
}

.w-70 {
    width: 45%;
}

.shadow {
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .15)!important
}

.top-head-cp .menu-links .nav>li {
    border-right: none;
    padding: 0px;
}

.menu-links .nav>li {
    margin: 0px;
    /* font-weight: 400; */
    /* text-transform: capitalize; */
    position: relative;
    border-right: 1px solid #0f4c751f;
    padding: 6px;
    font-family: sans-serif;
}

.menu-links .nav>li:hover {
    background: #0f4c7536;
}

.menu-links .nav>li:last-child:hover {
    background: transparent;
}

li.register_cp:hover {
    background: #0f4c75 !important;
}

.ind_login {
    width: 300px;
    margin: 10px auto;
    margin-top: 0;
}

.menu-links .nav>li :nth-last-child(2) {
    border-right: 0px solid #000;
}

.menu-links .nav>li:hover>.sub-menu,
.menu-links .nav>li:hover>.mega-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu-links .nav>li .sub-menu {
    top: auto;
    left: auto;
    right: 0;
}

.profileImgDiv {
    width: 120px;
    border-radius: 50%;
    padding: 3px;
    overflow: hidden;
    border: 2px solid #fcbb19;
    height: 120px;
    margin: 0 auto 20px;
}

.profileImgDiv img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.menu-links .nav>li .sub-menu {
    background-color: #ffffff;
    border: 1px solid #f4f4f4;
    display: block;
    left: 0;
    list-style: none;
    opacity: 0;
    padding: 0px;
    position: absolute;
    visibility: hidden;
    width: 175px;
    z-index: 10;
    top: 90%;
}

.menu-links .nav>li .sub-menu li>.sub-menu {
    left: 220px;
}

.menu-links .nav>li .sub-menu li:hover>.sub-menu {
    height: auto;
    min-height: 100%;
    background: #fff;
    border: none;
}

.menu-links .nav>li .sub-menu li:hover>.sub-menu {
    left: 238px;
    margin: 0px;
    opacity: 1;
    top: 0px;
    right: 0;
    visibility: visible;
}

.HeaderNav ul.sub-menu li:hover {
    background: #8080802e;
}

.HeaderNav ul.sub-menu li {
    padding: 5px;
}

.menu-links .nav>li .sub-menu li a {
    color: #00aedd;
    display: block;
    font-size: 14px;
    padding: 0px 10px;
    text-transform: capitalize;
}

.menu-links .nav>li .sub-menu li a:hover {
    /* background: #0F4C757a */
    color: #00aedd;
    border-bottom: 0px solid
}

.searchHover button {
    color: #fff;
    border-radius: 0;
    padding: 0px 10px;
    background: #0F4C75
}

.imageHidden {
    height: 153px;
    overflow: hidden;
}

.searchHover:hover button {
    background: #00aedd;
    color: #fff;
}

.bootom_link li a {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.footer-bottom-custom {
    border-top: 1px solid #00aedd;
    background: #702f7e12;
}

.footer-bottom-custom .container-fluid {
    background: #e6e6e6;
}

.footer-bottom-custom h4 {
    color: #000;
    font-size: 18px;
    font-weight: 600
}

.edit-widget-twitter .modal-content {
    background-color: #d8d8d8;
}

.footer-bottom-custom .address p,
.footer-bottom-custom .address ul {
    margin-bottom: 3px;
    margin-top: 0px;
}

.footer-bottom-custom p {
    color: #000;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 600;
}

#home .shadow.cardHoverbtn.overflow-hidden.mb-3.border {
    overflow: hidden;
}

.cardHoverbtn.overflow-hidden.border {
    overflow: hidden;
}

.cat-ibt-sel button {
    background: transparent;
    border: none;
}

.cat-ibt-sel button span {
    font-size: 20px;
}

.footer-bottom-custom a:hover {
    text-decoration: none;
    color: #0F4C75 !important;
    /* font-weight: 600; */
}

.footer-bottom-custom a:hover i {
    text-decoration: none;
    color: #0F4C75 !important;
    transform: rotate(360deg);
    transition: .4s ease;
}

.footer-bottom-custom li i {
    color: #000;
    padding-right: 3px;
}

.footer-bottom-custom li:hover a {
    padding-left: 5px;
    transition-duration: 0.5s;
}

.carousel-control-next,
.carousel-control-prev {
    width: 8%;
}

.priceSpan {
    font-size: 13px;
    color: #484646
}

.priceSpan span:nth-child(2) {
    text-decoration: line-through;
    color: #666;
}

.priceSpan span:nth-child(1) {
    font-size: 16px;
    font-weight: 600
}


/* .list-style-circle{list-style: circle;} */

.headingPettern {
    text-transform: capitalize;
    color: #00aedd;
}

.headingPettern h3 {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
}


/* .cardHoverbtn {
    margin: 0px -10px
} */

.cardHoverbtn img {
    transition: all .5s ease;
}

.cardHoverbtn:hover img {
    /* transform: scale(1.1); */
    transition: all .5s ease;
}


/* .headingPettern h3:before {
    content: "";
    width: 7%;
    height: 41px;
    border-bottom: 3px solid #0F4C758c;
    position: absolute;
} */

.minH {
    min-height: 72px
}

.chooseCourse {
    font-size: 1rem;
    color: #00aedd;
    font-weight: 600;
}


/* .testimonialDiv {
    display: flex
} */

.headerTog:focus {
    outline: none
}


/* .testimonialsDivImage {
    margin-right: 3rem
} */

#craosel6 .owl-stage {
    margin: 0px auto;
}

.owl-nav {
    position: absolute;
    top: 45%;
    width: 100%;
}

#craosel6 .owl-nav {
    top: 35%;
}

.selectNew::before {
    content: "\25BE";
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    color: rgb(216, 54, 55);
    background-color: rgb(216, 54, 55, 0.1);
    pointer-events: none;
}

.selectNew select {
    background-color: transparent;
    color: #d83637;
    padding: 0 8px;
    padding-right: 32px;
    border: 1px solid #fcbb19;
    font-size: 15px;
    -webkit-appearance: button;
    text-transform: capitalize;
    outline: none;
}

.all-subject-ques {
    margin: 0;
    display: flex;
    padding-left: 35px;
}

.all-subject-ques li {
    margin-right: 15px !important;
    margin-top: 5px;
}

ul.all-subject-ques li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.breadcrumbs-item a {
    font-size: 16px;
}


/* 
.owl-nav .owl-prev,
.owl-nav .owl-next {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 3px;
    background: #0F4C75 !important;
    color: #fff !important;
    position: relative;
}

.owl-nav .owl-next {
    float: right;
    margin-right: -30px;
    outline: none
}

.owl-nav .owl-prev {
    float: left;
    margin-left: -30px;
    outline: none
}

.owl-nav .owl-prev i,
.owl-nav .owl-next i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.chooseCourseDiv select {
    background: #fff
}

.headerFa {
    border: none
}


/* .menu-links .nav>li a {
    border-bottom: 2px solid transparent
} */

.nav-active:hover {
    border-color: #484646
}

.menu-links .nav>li a:hover {
    color: #484646;
    /* border-bottom: 2px solid; */
}

.menu-links .nav>li a.top-cp-button:hover {
    color: #fffafa;
    background: #00aedd;
}


/* .startTest span:nth-child(2) {
    margin-right: -165px;
    transition: all .5s ease;
} */

.startTest span:nth-child(1) {
    font-size: 14px
}

.cardHoverbtn:hover .startTest span:nth-child(2) {
    margin-right: 0;
    transition: all .5s ease;
}

.cardHoverbtn1:hover .startTest span:nth-child(2) {
    margin-right: 0;
    transition: all .5s ease;
}

.selectNew {
    flex-grow: 0;
    position: relative;
    margin-left: 10px;
}

.cardImage {
    background-color: #e11c3f;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50%;
    position: relative;
}

.cardImage img {
    height: auto;
    position: absolute;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.listProgress li {
    display: inline-block;
    color: white;
    border: 3px solid;
    text-align: center;
    border-radius: 50%;
    height: 135px;
    width: 135px;
    padding: 5% 0px;
    margin: 10px;
}

.field-icon {
    float: right;
    margin-right: 4px;
    margin-top: -28px;
    position: relative;
    z-index: 2;
    color: #868383;
}

span#pas_eye {
    float: right;
    margin-right: 4px;
    margin-top: -28px;
    position: relative;
    z-index: 2;
    color: #868383;
}

.sectionProgress .bg-white {
    border-radius: 20px;
}

.sectionProgress .login-title {
    background: #1f3e5d;
    padding: 10px;
    /* text-align: center; */
    color: #fff;
    border-radius: 10px;
    /* clip-path: polygon(100% 64%, 100% 0%, 0% 0%, 0% 100%); */
}

.sectionProgress .login-title .cpr-register {
    background: #f7bb0d;
    border-color: #f7bb0d;
    border-radius: 5px;
}

.sectionProgress {
    margin-bottom: 92px !important;
    background: #efefef;
    padding: 95px 0 0 0;
}

.sectionProgress img {
    content: "";
    height: 605px;
    left: 0px;
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
}

.sectionProgress .headingPettern,
.sectionProgress .container {
    position: relative;
    z-index: 9;
    top: 45%;
}

.headingPettern h2 {
    font-weight: 600
}

.nav-active {
    /*border-bottom: 2px solid #666;*/
}

.listCounter {
    width: 70px;
    height: 70px;
    position: relative;
    border: 3px solid;
    padding: 2px;
    border-radius: 50%;
    background: transparent;
    margin: 0px auto 15px;
}

.listCounter:hover {
    background: #000;
}

.counter {
    font-size: 24px;
    font-weight: 600;
}

.testh4 {
    font-weight: 600;
    color: #000;
}

.testh4 h4 {
    font-weight: 600;
}

.testimonial_disc p {
    font-size: 15px;
}

.testh4 h5 {
    font-weight: 600;
    margin-bottom: 0;
    padding-top: 10px;
}

.testh4 p {
    font-size: 15px;
}

.testimoialsImageDiv {
    width: 65px;
    overflow: hidden;
    height: 65px;
    border-radius: 50%;
    margin: auto;
    float: left;
    margin-left: 15px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.cardHoverbtn1 h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile_list li {
    cursor: pointer;
    width: fit-content;
}

.profile_list li:hover {
    color: #00aedd;
}

.svg-sn {
    fill: #000;
    cursor: pointer;
    transform: rotate(90deg);
}

.author-date {
    flex-grow: 1;
    padding: 0px 10px;
}

.post1 {
    padding: 11px 15px 0;
}

.post1 a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.post {
    margin: 5px 15px;
    padding: 5px;
}

.post2 {
    padding: 10px 15px;
}

.linkes-count {
    font-weight: 500;
    color: #B4B4B4;
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 11px 15px 0;
}

.expert_cp {
    float: right;
    color: #00aedd;
    font-size: 13px;
    font-weight: bold;
}


/* following popup */

div.mr-15.followingImage,
span.mr-15.followingImage {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 4px;
    color: #fff;
}

.mr-15.followingImage img {
    border-radius: 50%;
}

.profile_list li i {
    width: 20px;
}

span.mr-15.followingImage img,
div.mr-15.followingImage {
    width: 100%;
    height: 100%;
}

.list-unstyled.subjectWise a,
.list-unstyled.subjectsubjectWise1Wise a {
    padding: 5px;
}


/*#craose13*/

.owl-stage {
    padding-left: 0px !important;
}

.testimoialsImage {
    height: 100%;
}

#craosel3 .item .testimonialDiv {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px #ccc;
}

.testimonialsDescription {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    /* border-bottom-left-radius: 25px;
    border-top-right-radius: 25px; */
    position: relative;
}

.testimonialsDescription:before {
    /* background: url('../../web_assets/img/double.png'); */
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    top: -10px;
    left: -15px;
}

.testimonialsDivImage .testimonial_disc {
    height: 180px;
    overflow-y: hidden;
}

.daily_dose_ds:hover .bottom-heading-quiz h5 {
    color: #00aedd;
    transition: all .3s ease;
}

.daily_dose_ds {
    text-align: center;
    margin-bottom: 30px;
    padding: 30px 20px;
}

.video-player img,
.video-thumb img {
    width: 253px;
    height: 160px;
}

.daily_dose_ds h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.daily_dose_ds img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
    padding: 2px
}

.modal-content {
    border-radius: 0
}

.listCounter i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 29px;
}

.selectNew select {
    background-color: transparent;
    color: #00aedd;
    padding: 0 30px 0 10px;
    border: 1px solid #00aedd;
    font-size: 15px;
    -webkit-appearance: none;
    outline: none;
}

.catImagIcon img {
    background-color: #e5e5e5;
    border-radius: 50%;
    padding: 10px;
}

.profile-tabnav {
    border: 1px solid #e5e5e5;
}

.profile-tabnav a.nav-link {
    color: #8a8a8a;
    font-size: 14px;
}

.profile-tabnav li.nav-item {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.profile-tabnav .nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    background-color: none;
}

.profile-tabnav .nav-tabs .nav-link {
    border: none;
    background-color: none;
}

.profile-tabnav .nav-link .fa {
    width: 30px;
}

.selectNew::before {
    content: "\25BE";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 42px;
    color: #00aedd;
    background-color: rgba(28, 76, 117, 0.11);
    pointer-events: none;
}

.coursePreview {
    background-color: #fcbb19;
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.coursePreview p {
    margin: 0;
    position: absolute;
    top: 50%;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-nav-head {
    text-align: center;
}

.courseImagePre img {
    width: 100%;
    border-radius: 50%
}

.kautilya-mail-div-style {
    display: inline-block;
    padding: 8px 0px;
    justify-content: flex-end;
    margin-bottom: 0;
}

.kautilya-mail-div-style div {
    display: flex;
}

.courseImagePre {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 15px;
    padding: 5px;
    background: #fcbb19
}

.pertpro {
    display: flex
}

.menu-links .nav {
    align-items: center
}

.subwisevid {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background: #00aedd;
    overflow: hidden;
}

.subwisevid img {
    width: 100px;
    height: 100%;
}

.hovery {
    transition: all .3s ease;
}

.navActive {
    border-bottom: 2px solid #d83637
}

.followbtn {
    border: 1px solid #00aedd;
    border-radius: 0;
    color: #00aedd;
}

.followbtn:hover {
    color: #0F4C75
}

.hovery:hover {
    transform: translateY(-5px);
    transition: all .3s ease;
}

.imagePreview {
    overflow: hidden;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    background: #fcbb19;
}

.numberingInc {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: #fcbb19;
    margin-right: 10px
}

.btn-gplus {
    color: #fff;
    background-color: #dd4b39 !important;
}

.imp-link {
    background: url(http://dev.appsquadz.com/career_point/web_assets/img/abstract_bg.png) 100% 0 no-repeat;
}

.best_selling_bk {
    background: url(http://dev.appsquadz.com/career_point/web_assets/img/books_slide_bg.png) 100% 0 no-repeat;
}

.owl-carousel .owl-item .book1 button {
    border: 2px solid #00aedd;
    padding: 5px 12px;
}

.owl-carousel .owl-item .book1 button:focus {
    outline: none;
}

.book1 img {
    width: 70%;
}

.book1 h5 {
    height: 50px;
    padding-top: 10px;
}

.book1 {
    margin: 40px;
}

.best_selling_bk::before {
    background: #e6e3e33b none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.fa-js:before {
    content: "\f053";
}


/* Top Course */

.course_first {
    margin: 5px 0px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 0px #d8d8d885;
    /* padding: 15px; */
    border: 1px solid #e0e8f3;
    height: 100%;
}

.course_first:hover {
    box-shadow: 0 5px 12px rgba(126, 142, 177, .2);
    transition: 0.3s;
}


/* .course_first121 {
    max-height: 305px;
    overflow-y: scroll;
} */

.course_first121 p,
.course_first121 h5 {
    margin-bottom: 0px;
}

.course_first121 h5 {
    overflow: hidden;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
    height: 48px;
}

.course_first121 p {
    color: #4e4e4e;
    font-size: 14px;
    height: 42px;
    overflow: hidden;
}

.course_first121 p strong {
    color: #000;
}

.course_first121 hr {
    margin: 5px 0;
}


/* Student Course */

.eltdf-row-grid-section {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    z-index: 20;
}

.last_toggle_el_margin,
.wpb_button,
.wpb_content_element,
.wpb_row,
ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0!important;
}

.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}

.vc_custom_1507038306089 {
    padding-top: 102px !important;
    padding-bottom: 120px !important;
}

.vc_row:after,
.vc_row:before {
    content: " ";
    display: table;
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.eltdf-section-title-holder {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.eltdf-section-title-holder {
    vertical-align: middle;
    display: inline-block;
}

.eltdf-section-title-holder.eltdf-st-has-watermark .eltdf-st-inner {
    /*padding-top: 20px;*/
}

.eltdf-section-title-holder .eltdf-st-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    box-sizing: border-box;
}

.eltdf-section-title-holder .eltdf-st-watermark {
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    display: block;
    margin: 0;
    color: #e3eaf0;
    font-family: "Nothing You Could Do", cursive;
    font-size: 150px;
    line-height: 1;
}

.eltdf-section-title-holder span.eltdf-st-tagline {
    color: #04d2c8;
    font-size: 22px;
    line-height: 1.272727272727273em;
    font-weight: 700;
    letter-spacing: .025em;
}

.eltdf-section-title-holder .eltdf-st-tagline {
    position: relative;
    display: block;
    margin: 0;
}

.eltdf-section-title-holder .eltdf-st-text {
    position: relative;
    display: block;
    margin: 11px 0 0;
}

.eltdf-process-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.eltdf-process-holder.eltdf-process-appeared .eltdf-process-background {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.eltdf-process-holder a {
    color: #00aedd;
    font-size: 15px;
    font-weight: 600;
}

.eltdf-process-holder .eltdf-process-background {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 214px);
    height: 100%;
    background: url(http://dev.appsquadz.com/career_point/web_assets/img/stubent_corner_line_bg.png) 50% 0 no-repeat;
    z-index: -1;
    opacity: 0;
    margin: 0 -107px;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition: transform .7s cubic-bezier(.27, -.22, .26, 1.37), opacity .15s ease-in;
    -moz-transition: transform .7s cubic-bezier(.27, -.22, .26, 1.37), opacity .15s ease-in;
    transition: transform .7s cubic-bezier(.27, -.22, .26, 1.37), opacity .15s ease-in;
}

.eltdf-process-holder .eltdf-process-inner {
    margin: 0 -15px;
}

.eltdf-process-holder .eltdf-process-item:nth-child(1) {
    -webkit-transition-delay: .21s;
    -moz-transition-delay: .21s;
    transition-delay: .21s;
}

.eltdf-process-holder.eltdf-process-appeared .eltdf-process-item {
    opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0) scale(1) rotate(0);
    -moz-transform: translate3d(0, -10px, 0) scale(1) rotate(0);
    transform: translate3d(0, -10px, 0) scale(1) rotate(0);
}

.eltdf-process-holder.eltdf-four-columns .eltdf-process-item {
    width: 25%;
}

.eltdf-process-holder .eltdf-process-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    float: left;
    padding: 0 15px;
    opacity: 0;
    text-align: center;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0) scale(.9) rotate(10deg);
    -moz-transform: translate3d(0, 0, 0) scale(.9) rotate(10deg);
    transform: translate3d(0, 0, 0) scale(.9) rotate(10deg);
    -webkit-transition: transform .5s cubic-bezier(.27, -.22, .26, 1.37), opacity .2s ease-in;
    -moz-transition: transform .5s cubic-bezier(.27, -.22, .26, 1.37), opacity .2s ease-in;
    transition: transform .5s cubic-bezier(.27, -.22, .26, 1.37), opacity .2s ease-in;
}

.eltdf-process-holder .eltdf-pi-image {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.eltdf-process-holder .eltdf-pi-image img {
    display: block;
}

.eltdf-process-holder .eltdf-pi-title {
    display: block;
    margin: 30px 0 0;
}

.eltdf-process-holder .eltdf-pi-text {
    display: block;
    margin: 9px 0 0;
}

.eltdf-process-holder .eltdf-process-item:nth-child(2) {
    -webkit-transition-delay: .51s;
    -moz-transition-delay: .51s;
    transition-delay: .51s;
}

.eltdf-process-holder.eltdf-process-appeared .eltdf-process-item {
    opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0) scale(1) rotate(0);
    -moz-transform: translate3d(0, -10px, 0) scale(1) rotate(0);
    transform: translate3d(0, -10px, 0) scale(1) rotate(0);
}

.eltdf-process-holder.eltdf-four-columns .eltdf-process-item {
    width: 25%;
}

.vc_row:after {
    clear: both;
}


/* Student Course */

.register_cp {
    background: #00aedd;
    padding: 6px 10px !important;
    border-radius: 50px;
}

.register_cp:hover span {
    color: #fff !important;
}

.menu-links .nav>li.register_cp:hover a {
    border-bottom: 2px solid #fff;
}

.social_cp_head {
    padding: 0px;
}

.HeaderNav .social_cp_head li:hover a {
    background: #0F4C7526;
    border-radius: 4px;
}

.cp-card .cp-index-card.text-dark {
    position: absolute;
    top: 27%;
}

.cp-card .adm {
    position: absolute;
    top: 10%;
}

.cp-card .cp-index-card.last_cp {
    position: relative;
    top: 27%;
    left: -14px;
}

button.mail_reg,
button.fb_login {
    outline: none;
}

.filterUl .cate {
    padding: 5px!important;
    font-size: 17px;
    margin: 5px 0;
    border-bottom: 1px solid #e9e9e9;
    color: #000;
    position: relative;
    background: #5139801a;
    list-style-type: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 220px;
}


/*.breadcrumbs-item{
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}*/

.filterUl .cate.active {
    background-color: #0F4C75 !important;
    border-left: 6px solid #f4af2c !important;
    color: #fff;
    overflow: unset;
}

.filterUl .cate::before {
    border-color: transparent #0F4C75 transparent transparent;
}

.filterUl .cate.active::before {
    border-image: none;
    border-style: solid;
    border-width: 17px;
    bottom: 0px;
    content: "";
    height: 35px;
    right: -34px;
    position: absolute;
    top: 0px;
    width: 30px;
    transform: rotate(180deg);
}

.filterUl .cate.active a {
    color: #fff;
}

.bgTheme {
    background: #00aedd;
    color: #fff;
    border-radius: 30px;
    border: 2px solid #00aedd;
}


/* feed section */

.no-margin-40 {
    margin: 40px 0px !important;
}

.user-data {
    text-align: center;
}

.full-width {
    float: left;
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user-profile {
    float: left;
    width: 100%;
}

.username-dt {
    float: left;
    width: 100%;
    background-color: #00aedd;
    padding-top: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.usr-pic {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: -48px;
}

.usr-pic>img {
    float: none;
    border: 5px solid #fff;
    border-radius: 100px;
    width: 100%;
    height: 100%;
}

.user-specs {
    float: left;
    width: 100%;
    padding: 58px 0 15px 0;
}

.user-specs h3 {
    color: #000000;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    max-width: 150px;
    margin: auto;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-specs span {
    color: #686868;
    font-size: 14px;
}

.user-fw-status {
    float: left;
    width: 100%;
    margin-bottom: 0px;
}

.user-fw-status li:nth-child(1),
.user-fw-status li:nth-child(2) {
    border-bottom: 0;
}

.user-fw-status li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 5px 0;
    border-bottom: none;
}

.user-fw-status li h4 {
    color: #686868;
    font-size: 16px;
    margin-bottom: 5px;
}

.user-fw-status span {
    color: #000000;
    font-size: 20px;
}

.chooseCourseDiv {
    background: #fff;
    padding: 0px 5px;
    border-radius: 4px;
}

.user-fw-status li a {
    color: #00aedd;
    font-size: 1rem;
    font-weight: 600;
}

ul.user-fw-status li:last-child:hover {
    background: #00aedd;
}

ul.user-fw-status li:last-child:hover a {
    color: #fff;
}

.profile-tabnav ul li:hover {
    background: #00aedd;
}

.profile-tabnav ul li:hover a {
    color: #fff;
}

.post_user_pro h4 {
    float: left;
}

.post_user_pro li {
    padding: 10px;
}

.post_user_pro span {
    color: #ffffff;
    font-size: 15px;
    background: #00aedd;
    min-width: 50px;
    width: auto;
    padding: 3px 10px;
    float: right;
    border-radius: 14px;
}

ul.user-fw-status.post_user_pro li:last-child:hover {
    background: transparent;
}


/*-------------exam_detail start --------------------*/

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e0e8f3 !important;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    width: 100%;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    padding: 1.5rem 1.5rem;
    position: relative;
    height: 100%;
}

.card:hover {
    box-shadow: 0 5px 12px rgba(126, 142, 177, .2);
}

.nav.nav-tabs.aul .nav-item a {
    padding: 10px 20px 12px 20px;
    display: block;
    border: 1px solid #e0e8f3;
    background: #d8dee6;
    border-radius: 3px 3px 0 0;
    font-size: 16px;
    border-bottom: 0 !important;
}


/*-------------exam_detail end --------------------*/


/**/


/*-------------profile section start --------------------*/

#prodil {
    max-width: 100px;
    height: 100px;
    margin-bottom: 20px;
    position: relative;
    margin: 10px;
}

.changpicturebtn {
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 100%;
    box-shadow: 2px 3px 5px 2px #ccc;
    cursor: pointer;
}

.changpicturebtn .fa {
    font-size: 18px;
    color: #3f9bf3;
    padding: 6px;
}

#prodil .upload-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #0F4C756b;
    text-align: center;
}

.my_edit_profile .edit-profile .form-group {
    margin-bottom: 15px;
}

.my_edit_profile .edit-profile .col-form-label {
    font-size: 14px;
    font-weight: 400;
}

.my_edit_profile .col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.my_edit_profile .form-control {
    border-color: #e1e6eb;
    box-shadow: none;
    height: 40px;
    font-size: 13px;
    line-height: 20px;
    padding: 9px 12px;
    border: none;
    border-radius: 0px !important;
}

.my_edit_profile {
    margin-bottom: 10px;
    padding: 0px 10px;
}

.user-fw-status li a:hover {
    text-decoration: underline;
}

.iframe-video-feed {
    background: #f4f4f4;
    margin: 1px 18px;
    width: 93%;
}

.profile-content-box {
    border: 1px solid #e5e5e5;
    padding: 0px;
}

.teacher-info:last-child {
    border: none;
    /* margin: 5px 0; */
}

.nav-tabs li.nav-item.active {
    background: #00aedd;
    color: #fff;
    border-bottom: 2px solid #fff;
    border-top: 1px solid;
}

.nav-tabs li.nav-item.active:last-child {
    border-bottom: none;
}

.user-fw-status .nav-link.active span {
    background: #fff;
    color: #000;
}

.user-fw-status .nav-link.active h4 {
    color: #ffff;
}

.user-fw-status .nav-tabs .nav-link:focus,
.user-fw-status .nav-tabs .nav-link:hover {
    border-color: unset !important;
    border: none;
}

.post_user_pro li {
    padding: 0;
}

.user-fw-status .nav-link {
    border: none;
}

.post_user_pro .nav-link {
    padding: 15px;
}

.post_user_pro .nav-link h4 em {
    padding-right: 5px;
    width: 25px;
}

.nav-tabs li.nav-item.active a {
    color: #fff;
}

a.save_pf_btn {
    border: 2px solid #00aedd;
    padding: 5px 25px;
}


/*-----profile setion end --------*/


/*----------our expert section---------*/

.br-50 {
    border-radius: 50%;
    width: 131px;
    height: 131px;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
}

.br-50 img {
    border-radius: 50%;
}

.service-bx:hover {
    box-shadow: 0px 0px 20px 0px #bababa;
    transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}

.service-bx {
    padding-top: 15px;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    position: relative;
    background-color: #fff;
    margin-bottom: 15px;
}

.emedicoz-experts .service-bx .info-bx {
    padding: 15px;
}

.sticky-last-div a.btn {
    text-overflow: ellipsis;
    overflow: hidden;
}

.fixed-top {
    right: -15px;
}

@media (min-width: 792px) {
    .indexDiv {
        min-height: 400px;
    }
}

@media (min-width: 1200px) {
    .indexDiv {
        min-height: 500px;
    }
}

@media (min-width: 1400px) {
    .indexDiv {
        min-height: 560px;
    }
}

@media (min-width: 1920px) {
    .indexDiv {
        min-height: 780px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .startTest span:nth-child(2) {
        margin-right: 0
    }
    .pertpro {
        display: block;
    }
    .indexDiv {
        margin-top: 90px
    }
    .kautilya-mail-div-style.pull-right {
        display: block;
    }
    .testh4 h5,
    .testh4 p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .sectionProgress .bg-white {
        border-radius: 20px;
        width: 100%;
    }
    .social_cp_head {
        padding: 0 8px;
    }
    .kautilya-mail-div-style {
        padding: 8px 0px 0;
    }
    .menu-links .nav>li {
        border-right: 0px;
    }
    #course_dropdown {
        border-left: 0px solid #cccccc57;
    }
    /*.kautilya-mail-div-style div {
        display: none;
    }*/
    .fixed-top {
        right: 0;
    }
    .top-head-cp {
        padding-right: 0;
    }
    .kautilya-mail-div-style div li,
    .kautilya-mail-div-style div li.pl-5 {
        padding-bottom: 10px;
        padding-left: 0px !important;
    }
    .headingPettern {
        display: none;
    }
    .sectionProgress .headingPettern,
    .sectionProgress .container {
        top: 5%;
    }
    .headingPettern h2 {
        font-size: 18px;
        margin-bottom: 0;
    }
    .headingPettern {
        padding-left: 0px !important;
    }
    .listProgress.listStyle {
        display: inline-flex;
    }
    .listProgress li {
        height: 100px;
        width: 100px !important;
        padding: 5% 0px;
        padding-left: 0px;
        margin: 10px 0;
    }
    .sectionProgress img {
        top: 142px;
        display: none;
    }
    .counter {
        font-size: 13px;
        font-weight: 600;
    }
    .cp-card .cp-index-card.text-dark {
        position: static;
    }
    .cp-card .adm {
        position: static;
    }
    .cp-card .cp-index-card.last_cp {
        position: static;
    }
    .owl-nav {
        top: 35%;
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel button.owl-dot {
        margin: 5px;
    }
    .lock-image-div1 img {
        width: 100px;
    }
    .section_heading_para,
    .top-programs p {
        padding: 0px;
    }
    .daily_dose_ds {
        min-height: 185px;
    }
    .menu-links .nav>li .sub-menu li:hover>.sub-menu {
        left: 0;
        top: 100%;
    }
    .menu-links .nav>li:hover>.sub-menu {
        width: 300px!important;
        right: auto;
    }
    .menu-links .nav>li:hover>.sub-menu,
    .menu-links .nav>li:hover>.mega-menu {
        width: 100%;
    }
    .new-ul-change li:not(:last-child) {
        border: 0;
    }
    .new-ul-change li:last-child {
        float: left;
    }
    /* .owl-nav {
        display: none
    } */
    .owl-nav .owl-prev {
        margin-left: 0
    }
    .owl-nav .owl-next {
        margin-right: 0
    }
    .mt--80 {
        margin-top: 0
    }
    .headingPettern h3 {
        font-size: 16px;
        margin-bottom: 30px
    }
    .cardHoverbtn {
        margin-bottom: 15px
    }
    .sectionProgress {
        padding: 15px 0
    }
    .testimonialDiv {
        display: block
    }
    .testimonialsDivImage {
        margin-right: 0
    }
    .testimoialsImageDiv {
        margin: 0px auto
    }
    .listProgress li {
        display: block;
        width: auto;
        padding-left: 0;
        text-align: center
    }
    .item .serviceBox {
        margin: 15px
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .eltdf-process-holder .eltdf-process-background {
        display: none;
    }
    .eltdf-process-holder .eltdf-process-item {
        float: none;
        display: block;
    }
    .eltdf-process-holder .eltdf-process-inner {
        margin: 0;
    }
    .eltdf-process-item {
        margin-bottom: 30px;
    }
    .chooseCourseDiv select {
        width: 100%
    }
    .kautilya-nav-style {
        width: 225px;
        /* position: relative;
        bottom: 12px; */
    }
    /*.kautilya-mail-div-style {
        display: none;
    }*/
    .icon-nav-head {
        padding-right: 10px;
    }
    #menuDropdown ul li a {
        display: flex;
        flex-grow: 1;
    }
    .navbar.navbar-expand-lg.navbar-light {
        /* padding-right: 15px; */
    }
    .before-lock-div1 {
        width: 62%!important;
        padding: 0px 0px 0px 0px;
    }
    .breadcrumbs-item a {
        font-size: 12px;
    }
    .headingPettern h3 {
        margin-bottom: 10px;
    }
    .exam-list h4,
    .exam-list1 h4 {
        font-size: 16px;
    }
    .indexDiv {
        margin-top: 60px;
    }
    .feeds-filter-by {
        width: 20%;
    }
    .btn-sm,
    .quiz_box_bookmar .btn-group-sm>.btn {
        padding: 5px;
    }
    .eltdf-row-grid-section {
        width: 100%;
    }
    .eltdf-process-holder.eltdf-four-columns .eltdf-process-item {
        width: 100%;
    }
    .slider-form {
        display: none;
    }
    .nav_icon {
        padding-top: 15px !important;
        float: right;
    }
    .cp .row {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    .kautilya-mail-div-style.pull-right #menuDropdown .navbar-nav {
        flex-direction: unset;
    }
    .collapsing {
        overflow: unset;
    }
}

@media (min-width: 1200px) {
    .container.cp {
        max-width: 100%;
        padding-right: 0;
    }
}